body{
    font-family: 'Prompt', sans-serif;
}
h1{
    font-size:45px;
    display:block;
}
#p1{
    padding-top: 10px;
    padding-bottom: 40px;
}
.p2{
    color:#000000c4;
    text-align: center;
    font-size: 35px;
}
.order-button{
    text-decoration: none;
    background-image:linear-gradient(#ff0000,#ffa500);
    color:#ffffff;
    padding: 10px 20px;
    border-radius: 20px;
}
#to-parallel{
    display: flex;
    background-color:#f5deb300;
    
}
.half-width{
    width: 50%;
    padding-left: 70px;
}
.half-width img{
    height: 70%;
    padding-right: 30px;
    padding-left: 10px;
}
.top-right {
    position: top;
    top: 300px;
    right: 50px;
}
.container {
    position: relative;
    text-align: center;
    color: #000000;
}
#owner-contact{
    padding-top: 1px;
}
#to-differentiate{
    padding-top: 250px;
}
#recipies-item{
    display: flex;
    padding: 10px 10px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.pic-parallel{    
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
}
.item-position{
    padding-right: 60px;
    padding-left: 20px;
    text-align: left;
}
.container{
    box-shadow:10px 10px 40px #00000057;
    margin-left: 1%;
    margin-right: 1%;
    padding-right: 10px;
    border-radius: 20px;
}
.footer-note{
    background-color:#000000;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 60px;
    
}
.followers_note{
    display: flex;
    box-shadow:10px 10px 40px #00000057;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.for_padding{
    padding-left: 10%;
    padding-right: 10%
}