body{
    font-family: 'Prompt', sans-serif;
}
h1{
    font-size:45px;
    display:block;
}
#p1{
    padding-top: 10px;
    padding-bottom: 40px;
}
.order-button{
    text-decoration: none;
    background-image:linear-gradient(#ff0000,#ffa500);
    color:#ffffff;
    padding: 10px 20px;
    border-radius: 20px;
}
#to-parallel{
    display: flex;
    background-color:#f5deb300;
    
}
.half-width{
    width: 50%;
    padding-left: 70px;
}
.half-width img{
    height: 70%;
    padding-right: 30px;
    padding-left: 10px;
}